.order-total {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;
}

.order-total table {
  width: inherit;
  font-weight: bold;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #2112;
}

.order-total td:not(.td-last) {
  border-bottom: 1px solid #ba8;
}

.order-total .td-left {
  height: 40px;
  padding-left: 20px;
  text-align: left;
  border-right: 1px solid #ba8;
}

.order-total .td-right {
  height: 40px;
  padding-right: 20px;
  text-align: right;
}

@media (width < 670px) {
  .order-total {
    width: 100%;
  }
}
