.order {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 1000px;
  padding: 30px 20px;
}

.order-shipment {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  align-self: stretch;
}

.order-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.order .remove-button {
  display: none;
}

@media (width < 670px) {
  .order {
    width: 340px;
  }

  .order-shipment {
    flex-direction: column;
    align-items: center;
  }
}
