.home-header {
  position: relative;
  width: inherit;
  max-width: inherit;
  height: 180px;
  overflow: hidden;
  box-shadow: 2px 2px 4px #2112;
}

.home-header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: inherit;
  max-width: inherit;
  height: inherit;
  color: #ebdccb;
}

.home-header-logo {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
}

.home-header-logo.left {
  min-width: 400px;
}

.main-logo {
  filter: drop-shadow(3px 3px 2px #000);
}

.additional-logo {
  width: 536px;
  height: 180px;
  filter: drop-shadow(5px 5px 5px #000);
}

@media (width < 677px) {
  .home-header-container {
    justify-content: center;
  }

  .home-header-logo.right {
    display: none;
  }
}
