.order-header {
  display: flex;
  align-self: stretch;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #2112;
}

.order-status {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

.order-status-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@media (width < 670px) {
  .order-header {
    flex-direction: column;
  }
}
