.header-cart-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 130px;
  height: 36px;
  background: #2114;
  border: 1px solid #ebdccb;
  border-radius: 36px;
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px #000);
}

.header-cart-label {
  margin: auto;
  color: #ebdccb;
}

.header-cart-button .rounded-icon {
  margin: -2px;
  background: initial;
  filter: initial;
}

.header-cart-badge {
  position: absolute;
  top: -2px;
  right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  color: #211;
  font-weight: bold;
  font-size: 12px;
  background: #ebdccb;
  border-radius: 10px;
}

.header-cart-button:active .header-cart-label,
.header-cart-button:active .rounded-icon,
.header-cart-button:active .header-cart-badge {
  filter: drop-shadow(0 0 4px #ebdccbaa);
}

@media (width < 700px) {
  .header-cart-button {
    width: 36px;
  }

  .header-cart-label {
    display: none;
  }
}
