*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #211;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#root {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  background: #fea;
}

main,
.header,
.footer {
  width: inherit;
  max-width: inherit;
  margin: inherit;
  overflow: hidden;
}

main {
  min-height: calc(100vh - 240px);
}

button {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}
