.rounded-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2114;
  border: 1px solid #ebdccb;
  border-radius: 40px;
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px #000);
}

.rounded-icon:active {
  filter: drop-shadow(0 0 2px #ebdccbaa);
}

.rounded-icon svg {
  fill: #ebdccb;
}
